body {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    font-size: 2em;
    border: solid lightgray;
    border-radius: 5px;
    padding: 1%; /*eventuell hier fragen*/
}

/* Navigation einfärben */
nav {
  color: white; /* Textfarbe */
  padding: 10px;
  background-color: #f2f2f2;
}

nav a {
  border-radius: 2px;
  background-color: rgb(255, 89, 0);
  color: white; /* Links auch weiß */
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 10px;
  margin: 5px;
}

nav a:hover {
  background-color: lightblue;
}

/* Tabellenkopf */
#neusteEpisoden thead th {
  background-color: #ff8c00;
  color: white;
  padding: 10px;
}

/* Ungerade Zeilen */
#neusteEpisoden tbody tr:nth-child(odd) td {
  background-color: #82c4f3;
  color: black; /* Textfarbe anpassen */
}

/* Gerade Zeilen */
#neusteEpisoden tbody tr:nth-child(even) td {
  background-color: #ffffff;
  color: black;
}
a[href*="@"]::before {
  content: "✉:";
  margin-right: 5px;
}

/* bei den Rest freiwillig*/
section:nth-of-type(2) {
  background-color: #f2f2f2; /* heller Hintergrund */
  color: black; /* dunkler Text */
  padding: 15px;
  border-radius: 5px; /*Ecken runden*/
}
#neusteBereichEpisode {
  background-color: #f2f2f2;
  color: black; /* dunkler Text */
  padding: 15px;
  border-radius: 5px; /*Ecken runden*/
  border: 2px solid;
}
/* Generell: etwas Abstand für alle Sections schönheit*/
section {
  margin: 20px 0;
}

label,
legend {
  font-weight: bold;
}

/*anpassen von Logo und Podcast Heading(Name)*/

header {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f2f2f2;
  width: 100%;
}
/*Anpassung von Navigationsmenu*/
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/*Anpassung von Copyright*/
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
 
}
aside {
  background-color: lightblue;
 
}

