/* Falsche Nutzereingabe anzeigen
*/
input:user-invalid {
  background-color: rgb(248, 216, 216);
  border: solid red;
}

/*Aenderung der Focus beim Klicken auf einem der folgenden Felder
*/
input:focus,
button:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  background-color: yellow;
  outline: 2px solid orange;
}
select:focus,
textarea:focus {
  background-color: initial;
  outline: initial;
}

/* Stern * hinzufuegen
*/
label.required::after {
  content: "*";
  color: red;
}

/*Absende Taste(Speichern) formatten*/
input[type="submit"]:hover {
  color: white;
  background-color: darkorange;
  text-decoration: underline;
  font-weight: bolder;
  border-radius: 6%;
}

/*Titel der Fieldset (Legend)*/
fieldset > legend {
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-radius: 5%;
}

/*Bei Fieldset nur oben eine gezogene Linie*/
fieldset {
  border-top: solid 1px black;
  border-bottom: initial;
  border-left: initial;
  border-right: initial;
}

/*Bei Eingabefelder nur unten eine gezogene Linie*/
input {
  border-bottom: solid 1px black;
  border-top: initial;
  border-left: initial;
  border-right: initial;
}
