<header id="item1">
  <figure>
    <a href="/">
      <img src="/img/logo.png" id="logo" alt="Logo" width="200" height="200" />
    </a>
    <figcaption>Logo der Webseite</figcaption>
  </figure>
  <h1 id="WebName">
    <strong>D &amp; Z Podcasts</strong>
    <br />
    <br />
    <small>hören sie kostenlos Podcasts ohne Werbung</small>
  </h1>
</header>