/*aus style.css*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2 {
  font-size: 2em;
  border: solid lightgray;
  border-radius: 5px;
  padding: 1%; /*eventuell hier fragen*/
}

/* Navigation einfärben */
nav {
  color: white; /* Textfarbe */
  padding: 10px;
  background-color: #f2f2f2;
}

nav a {
  border-radius: 2px;
  background-color: rgb(255, 89, 0);
  color: white; /* Links auch weiß */
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 10px;
  margin: 5px;
}

nav a:hover {
  background-color: lightblue;
}

/* Tabellenkopf */
#neusteEpisoden thead th {
  background-color: #ff8c00;
  color: white;
  padding: 10px;
}

/* Ungerade Zeilen */
#neusteEpisoden tbody tr:nth-child(odd) td {
  background-color: #82c4f3;
  color: black; /* Textfarbe anpassen */
}

/* Gerade Zeilen */
#neusteEpisoden tbody tr:nth-child(even) td {
  background-color: #ffffff;
  color: black;
}
a[href*="@"]::before {
  content: "✉:";
  margin-right: 5px;
}

/* bei den Rest freiwillig*/
section:nth-of-type(2) {
  background-color: #f2f2f2; /* heller Hintergrund */
  color: black; /* dunkler Text */
  padding: 15px;
  border-radius: 5px; /*Ecken runden*/
}
#neusteBereichEpisode {
  background-color: #f2f2f2;
  color: black; /* dunkler Text */
  padding: 15px;
  border-radius: 5px; /*Ecken runden*/
  border: 2px solid;
}
/* Generell: etwas Abstand für alle Sections schönheit*/
section {
  margin: 20px 0;
}

label,
legend {
  font-weight: bold;
}

/*anpassen von Logo und Podcast Heading(Name)*/

header {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f2f2f2;
  width: 100%;
}
/*Anpassung von Navigationsmenu*/
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/*Anpassung von Copyright*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
}

/*Kleine Änderung*/
aside {
  background-color: lightblue;
  flex: 1;
}

/*aus flex.css*/
main {
  display: flex;
  border: 1px solid white;
  padding: 1em;
  flex-direction: column;
  width: 100%;
  flex: 3;
}

#Hauptinhalt {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  padding: 2px;
}

/*Kacheln*/
#abos {
  display: flex;
  flex-flow: row wrap;
  gap: 14px;
  padding: 5px;
  margin: 8px;
  justify-content: left;
}

#abos li {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 120px;
  height: auto;
  margin: 3px;
  padding: 2px;
}
#abos li img {
  width: 100px;
  height: 100px;
  margin: 3px;
  padding: 2px;
}

/*Responsive Flexbox-Layout*/

@media (max-width: 768px) {
  #Hauptinhalt {
    flex-direction: column;
  }

  main,
  aside {
    flex: none;
    width: 100%;
  }
}

#listenansicht{
  font-size: larger;
  background-color: #c5e2f8;
  border-radius: 5px;
  border-color: rgb(8, 84, 216);
}